
.App {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 300px;
  height: 120px;
  flex-wrap: wrap;
}

.board {
  flex-basis: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.blueCircle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
}

.redCircle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}

.winner {
  animation: 2s blink infinite;
  opacity: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

@keyframes blink {
  from { opacity: 0}
  to { opacity: 1}
}

